{% extends 'core/base_without_navbar.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h1>Login:</h1>
            <form method="post">
                {% csrf_token %}
                <!-- formda method belirtmeyi unutma! eger aramada gozukmeyecekse method POST olmali.. -->
                <!-- her input bilgisinin name bilgisi olmasi gerekir!.. -->
                <!-- csrf token bilgisi olmali.. -->
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}