{% extends 'core/base_without_navbar.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h1>Uye Ol:</h1>
            <form method="post">
                {% csrf_token %}
                <!-- formda method belirtmeyi unutma! eger aramada gozukmeyecekse method POST olmali.. -->
                <!-- her input bilgisinin name bilgisi olmasi gerekir!.. -->
                <!-- csrf token bilgisi olmali.. -->

                <div class="mb-3">
                    <label for="first_name" class="form-label">Ad</label>
                    <input type="text" class="form-control" id="first_name" name="first_name">
                </div>

                <div class="mb-3">
                    <label for="last_name" class="form-label">Soyad</label>
                    <input type="text" class="form-control" id="last_name" name="last_name">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
                </div>
                <div class="mb-3">
                    <label for="email_confirm" class="form-label">Email - Tekrar</label>
                    <input type="email" class="form-control" id="email_confirm" aria-describedby="emailHelp" name="email_confirm">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Sifre</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="mb-3">
                    <label for="password_confirm" class="form-label">Sifre - Tekrar</label>
                    <input type="password" class="form-control" id="password_confirm" name="password_confirm">
                </div>

                <div class="mb-3">
                    <label for="instagram" class="form-label">Instagram Hesabi</label>
                    <input type="text" class="form-control" id="instagram" name="instagram">
                </div>
                <button type="submit" class="btn btn-primary">Uye Ol</button>
                <a href="{% url 'home_view' %}" class="btn btn-secondary">Iptal</a>
                <a href="{% url 'user_profile:login_view' %}" class="btn btn-info">Login</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}