{% extends 'core/base.html' %}

{% block container %}
<div class="col-sm-6 offset-sm-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
          <li class="breadcrumb-item"><a href="{{ todo.category.get_absolute_url }}">{{ todo.category.title }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ todo.title }}</li>
        </ol>
      </nav>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ todo.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ todo.category }}</h6>
            <p class="card-text">{{ todo.content }}</p>
            <ul class="list-unstyled fs-6">
                <li><small>Olusturuldugu Zaman: {{ todo.created_at|date:"d/m/Y H:s" }}</small></li>
                <li><small>En Son Guncellendigi Zaman: {{ todo.updated_at|date:"d/m/Y H:s" }}</small></li>
            </ul>
            <ul class="list-inline">
                {% for tag in todo.tag.all %}
                <li class="list-inline-item">
                    <a href="{{ tag.get_absolute_url }}" class="">
                        <span class="badge rounded-pill text-bg-primary">{{ tag }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <a href="/" class="card-link">Geri Don</a>
        </div>
    </div>
    
</div>

{% endblock container %}