* {
    /* font-family: 'Flow Circular', cursive; */
}

body {
    margin: 0;
    padding: 0;
}

.list-unstyled {
    list-style: none;
}

.clear-fix {
    clear: both;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}
nav {
    padding-top: 15px !important;
}
nav > ul > li {
    float: left;
    /* background-color: aqua; */
    width: 20%;
}

nav > ul > li > a {
    display: block;
    padding: 4px 10px;
    color: white;
}

nav > ul > li > a:hover {
    background-color: red;
}

.container {
    width: 1000px;
    margin: 0 auto;
}



/* LEFT BAR */

.left-bar {
    background-color: #2c3e50;
    width: 30%;
    float: left;
}

.left-bar-links {
    padding: 0;
}

.left-bar-links > li > a {
    color: white;
    display: block;
    padding: 4px 20px;
}

.left-bar-links > li > a:hover {
    background-color: #fff;
    color: #2c3e50;
}

.content {
    width: 70%;
    float: left;
    background-color: red;
    min-height: 400px;
}


.card {
    width: 26%; 
    margin-right: 3%;
    margin-bottom: 20px;
    float: left;
    background-color: #bdc3c7;
    padding: 2%;
    min-height: 300px;
}