{% load static %}
<!doctype html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%}{% endblock title%}Django Firma Demo</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
    {% include 'core/navbar.html' %}
    
    {% block container-fluid %}
    {% endblock container-fluid %}


    <div class="container">
    {% block container %}
    {% endblock container %}

    {# PROJELER INCLUDE ile EKLENDI #}
    {% include 'core/projects.html' %}
    </div>


    {% include 'core/footer.html' %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>