<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Django Firma Demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
  <!-- NAV -->
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">Django Firmasi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="index.html">Ana Sayfa</a>
          <a class="nav-link" href="hakkimizda.html">Hakkimizda</a>
          <a class="nav-link" href="vizyonumuz.html">Vizyonumuz</a>
          <a class="nav-link" href="iletisim.html">Iletisim</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- NAV END -->

  <!-- Carousel -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://picsum.photos/id/24/1200/400" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/id/27/1200/400" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/id/28/1200/400" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/id/29/1200/400" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <!-- Carousel END -->

  <div class="container-fluid mb-4">
      <!-- Hero Content -->
    <div class="row bg-dark p-4 border-bottom border-top">
      <div class="col-sm-8 offset-sm-2">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2 class="text-center display-1">Django</h2>
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis repellat in eum? Maxime veniam atque
            beatae hic impedit quis architecto.
          </p>
        </div>
      </div>
    </div>
      <!-- Hero Content END -->
      <!-- About Us -->
    <div class="row bg-dark text-light">
      <div class="col-sm-6 ms-0 ps-0">
        <img src="https://picsum.photos/id/249/600/250" alt="" class="w-100">
      </div>
      <div class="col-sm-6 d-flex justify-content-center align-items-center">
        <div class="text-center">
          <h2 class="display-2">Hakkimizda</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, hic.</p>
          <p>Explicabo necessitatibus, aliquam animi minus numquam excepturi sed neque ipsa.</p>
          <p>Quasi odit fuga recusandae! Nulla in adipisci fugit amet corporis!</p>
        </div>
      </div>
    </div>
    <!-- About Us END -->
  </div>


  <div class="container">
    <!-- Products -->
    <div class="row">
      <div class="col-sm-12">
        <h2>Urunlerimiz</h2>
        <hr>
      </div>
      <div class="col-sm-4 mb-2">
        <div class="card">
          <img src="https://picsum.photos/id/149/400/250" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Urun 1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Incele</a>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4 mb-2">
        <div class="card">
          <img src="https://picsum.photos/id/49/400/250" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Urun 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Incele</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-2">
        <div class="card">
          <img src="https://picsum.photos/id/50/400/250" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Urun 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Incele</a>
          </div>
        </div>
      </div>


    </div>
    <!-- Products END -->

    <!-- Projects -->
    <div class="row my-4">
      <!-- .col-sm*8>img.w-100[src="https://picsum.photos/id/2$/100/80"] -->
      <div class="col-sm-12">
        <h2>Projelerimiz</h2>
        <hr>
      </div>
      <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/21/100/80" alt="" class="w-100 img-thumbnail"></div>
      <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/22/100/80" alt="" class="w-100 img-thumbnail"></div>
      <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/23/100/80" alt="" class="w-100 img-thumbnail"></div>
      <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/24/100/80" alt="" class="w-100 img-thumbnail"></div>
      <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/25/100/80" alt="" class="w-100 img-thumbnail"></div>
      <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/26/100/80" alt="" class="w-100 img-thumbnail"></div>
      <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/27/100/80" alt="" class="w-100 img-thumbnail"></div>
      <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/28/100/80" alt="" class="w-100 img-thumbnail"></div>
    </div>
  <!-- Projects END -->


  </div>


  
  <!-- FOOTER -->
  <div class="bg-dark text-light mt-5">
  <div class="container">
  <footer class="pt-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top">
      <p>© 2022 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </div>
  </footer>
</div>
</div>
  <!-- FOOTER END -->





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>