{% extends 'core/base.html' %}

{% block title %}{{ page_title }} | {% endblock title%}

{% block container-fluid %}
<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-sm-12 px-0">
            <img src="https://picsum.photos/id/41/1200/450" alt="" class="w-100">
        </div>
    </div>
    {% include 'page/components/hero_component.html' with hero_title=page_title %}
</div>
{% endblock container-fluid %}


{% block container %}
<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h2>Vizyonumuz</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, ea eaque quam labore beatae dolorum
            consectetur maiores? Libero sed quas, cumque molestiae officia et iure, odio non illum quae eius.</p>
        <p>Quod earum voluptatibus expedita corrupti quos ab ipsam accusantium deleniti illum similique nemo placeat
            sapiente molestias iure provident sequi, explicabo incidunt ut animi nihil perferendis? Perspiciatis
            repellat illo nam dignissimos?</p>
        <p>Neque itaque ipsam illo minus ullam sed voluptas quia similique incidunt magni pariatur expedita quas,
            excepturi totam tempora facilis voluptatibus. Officia a omnis, doloribus commodi ipsam deserunt est
            inventore quos!</p>

        <hr>
        <h2>Misyonumuz</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt unde explicabo minus impedit pariatur harum
            ipsam optio, error tempore sint non provident aut odit nisi fugit dolorem tenetur vel! Aliquid.</p>
        <p>Sed exercitationem ad id ea? Voluptatibus veritatis cupiditate, inventore harum velit incidunt facere dolorum
            repellendus quidem repellat sapiente! Minima quaerat iste maiores soluta suscipit porro possimus officia
            doloribus obcaecati qui?</p>
        <p>Ducimus at praesentium accusamus obcaecati dolores recusandae voluptate adipisci veniam, aut, eligendi iure
            nostrum? Voluptate deserunt adipisci eos ut totam blanditiis aspernatur autem optio facere velit! Fugit
            deserunt facilis enim.</p>
        <p>Sapiente culpa ad laborum, dolore iste quia? Magni sed voluptatibus error soluta assumenda, nesciunt quas
            laboriosam ratione minima iure similique dolore nobis rem quo velit inventore expedita, ipsum corporis
            voluptate.</p>
        <ul>
            <li>Lorem, ipsum.</li>
            <li>Reiciendis, quam.</li>
            <li>Mollitia, ullam?</li>
            <li>Tenetur, ratione.</li>
        </ul>
    </div>
</div>
{% endblock container %}