{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <h2>Yeni Blog Post:</h2>
            <form method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form|crispy }}
                {{ form.media }}
                <button type="submit" class="btn btn-primary mt-3">Kaydet</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}