<!-- Projects -->
<div class="row my-4">
    <!-- .col-sm*8>img.w-100[src="https://picsum.photos/id/2$/100/80"] -->
    <div class="col-sm-12">
        <h2>Projelerimiz</h2>
        <hr>
    </div>
    <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/21/100/80" alt="" class="w-100 img-thumbnail">
    </div>
    <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/22/100/80" alt="" class="w-100 img-thumbnail">
    </div>
    <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/23/100/80" alt="" class="w-100 img-thumbnail">
    </div>
    <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/24/100/80" alt="" class="w-100 img-thumbnail">
    </div>
    <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/25/100/80" alt="" class="w-100 img-thumbnail">
    </div>
    <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/26/100/80" alt="" class="w-100 img-thumbnail">
    </div>
    <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/27/100/80" alt="" class="w-100 img-thumbnail">
    </div>
    <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/28/100/80" alt="" class="w-100 img-thumbnail">
    </div>
</div>
<!-- Projects END -->