{% load static %}
<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MD Clone</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    {% include 'core/messages.html' %}
    {% include 'core/navbar.html' %}

    {% block content %}
    {% endblock content %}
    
    

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block script %}
    {% endblock script %}
</body>
</html>