<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg bg-warning border-bottom border-dark">
    <div class="container py-2">
        <a class="navbar-brand" href="{% url 'home_view' %}">MD Clone</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <ul class="navbar-nav  ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Our story</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Membership</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:create_blog_post_view' %}">Write</a>
                </li>

                {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_profile:login_view' %}">
                        Sign In
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-dark text-light px-3 rounded-pill ms-3"
                        href="{% url 'user_profile:register_view' %}">
                        Get Started
                    </a>
                </li>
                {% else %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ request.user.username }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ request.user.profile.get_all_posts_url }}">Show My All Posts</a></li>
                        <li><a class="dropdown-item" href="{{ request.user.profile.get_profile_edit_url }}">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="#">Favs</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn btn-dark text-light px-3 rounded-pill ms-3"
                        href="{% url 'user_profile:logout_view' %}">
                        Logout
                    </a>
                </li>
                {% endif %}


                
            </ul>

        </div>
    </div>
</nav>
<!-- NAVBAR END -->