<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg bg-warning border-bottom border-dark">
    <div class="container py-2">
        <a class="navbar-brand" href="{% url 'home_view' %}">MD Clone</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" aria-current="page" href="#">
                    Our story
                </a>
                <a class="nav-link" href="#">
                    Membership
                </a>
                
                <a class="nav-link" href="{% url 'blog:create_blog_post_view' %}">Write</a>
                {% if not request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'user_profile:login_view' %}">
                    Sign In
                </a>
                <a class="nav-link btn btn-dark text-light px-3 rounded-pill ms-3"
                    href="{% url 'user_profile:register_view' %}">
                    Get Started
                </a>
                {% else %}
                <a class="nav-link" href="#">{{ request.user.username }}</a>
                <a class="nav-link btn btn-dark text-light px-3 rounded-pill ms-3"
                    href="{% url 'user_profile:logout_view' %}">
                    Logout
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<!-- NAVBAR END -->