{% extends 'core/base.html' %}

{% block container %}

<div class="row">
    <div class="col-sm-9">
        {% if category %}
        <h1>{{ category.title }}</h1>
        {% else %}
        <h1>Tüm Blog Postları</h1>
        {% endif%}

        {% for post in posts %}
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <img src="{{ post.cover_image.url }}" alt="" class="w-100 img-thubnail">
                        </div>
                        <div class="col-sm">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ todo.content }}</p>
                            <a href="#" class="card-link">Incele</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="col-sm-3">
        <h3>Kategoriler</h3>
        <div class="list-group">
            {% for category in categories %}
            <a href="{{ category.get_absolute_url }}" class="list-group-item list-group-item-action" aria-current="true">
                {{ category.title }}
            </a>
            {% endfor %}
        </div>

        <h3 class="mt-4">Etiketler</h3>
        <ul class="list-inline">

            {% for tag in tags %}
            <li class="list-inline-item">
                <span class="badge text-bg-primary">{{ tag.title }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock container %}